---
import CardHome from "./CardHome.astro";
import Data from "../../DATA/data-es.json"
---

<section id="Home" class="relative h-screen w-full">
  
  <img src={Data.Home.imagen}
    class="absolute inset-0 w-full h-full object-cover"
  >
  <div class="absolute inset-0 bg-gradient-to-t from-white via-5% to-transparent bg-opacity-10"></div>

  <!-- CARD bug en responsive -->
  <div class="relative z-10 flex items-center justify-center h-screen">
    <CardHome />
  </div>
</section>

