---
import Data from "../../DATA/data-es.json";
---

<a
    class="mt-8 px-6 py-2 rounded-lg
    text-md font-bold text-black
    bg-cyan-200 hover:bg-orange-300 hover:text-orange-700 
    transition-colors duration-300"
    href={Data.Navegacion[3].url}
>
    {Data.Home.boton}
</a>
